body {
  font: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header  */
header {
  background-color: #35424a;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

header li {
  display: inline;
  padding: 0 10px;
  float: left;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #e8491d; 
  font-weight: bold;
}

header a:hover {
  color: #aaaaaa;
  font-weight: bold; 
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  background-color: #35424a;
  padding: 15px;
  color: white;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

.button_1 {
  height: 38px;
  background-color: #e8491d;
  border: 0;
  padding: 0 20px;
  color: white;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 100px;
}

/* Sidebar */
aside#sidebar {
  float: right; 
  width: 30%;
  margin-top: 10px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Service */
ul#service li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}

/* Media Quaries  */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  #showcase h1 {
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 10px;
  }

  header {
    padding-bottom: 20px;
  }

  #newsletter button, .quote button, header li {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea {
    width: 100%; 
    margin-bottom: 5px;
  }

}
